@font-face {font-family: JosefinBlack;src: url(fonts/JosefinSans-Bold.ttf);}
@font-face {font-family: JosefinLight;src: url(fonts/JosefinSans-Light.ttf);}
@font-face {font-family: JosefinRegular;src: url(fonts/JosefinSans-Regular.ttf);}
@font-face {font-family: JosefinThin;src: url(fonts/JosefinSans-Thin.ttf);}